<!DOCTYPE html>
<html>
<head>
    <title>Places I've Been</title>
</head>
<body>
    <h1>Tell Us Where You've Been</h1>
    <form action='/places' method='post'>
        <label for='location'>Enter a Place You've been!</label>
        <input type='text' name='location' type='text'>
        <label for='date'>When did you go?</label>
        <input type='text' name='date' type='text'>
        <button type='submit' name='submit'>Create new Place</button>
    </form>
</body>
</html>
